*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
}

body{
  font-family: sans-serif;
  line-height: 1;
  font-size: 14px;
}

.container{
  width: 1000px;
  margin: auto;
  padding: 0 20px;
}